{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
    <h2>Change Password</h2>

    <form method="post">
        {% csrf_token %}
        <div class="field">

            <label for="email" class="label">Email</label>

            <div class="control has-icons-left has-icons-right">

                <input class="input is-success" type="email" name="email" id="email">

            </div>

        </div>
        <button type="submit" class="button is-link">Send Email</button>
    </form>
{% endblock content %}