{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
    <h2>Please enter your new password</h2>

    <form method="post">
        {% csrf_token %}

        <div class="field">

            <label for="id_new_password1" class="label">New Password</label>

            <div class="control has-icons-left has-icons-right">

                <input class="input is-success" type="password" name="new_password1" id="password" required />

            </div>

        </div>

        <div class="field">

            <label for="id_new_password2" class="label">Confirm Password</label>

            <div class="control has-icons-left has-icons-right">

                <input class="input is-success" type="password" name="new_password2" id="password2">

            </div>

        </div>
        
        <button type="submit" class="button is-link" id="reset">Reset Password</button>
    </form>
{% endblock content %}